 body {border: 0px;
     padding: 0px;}
 ul { list-style: none;
     position: sticky;
     display: flex;
     flex-direction: row;
     gap: 40px;
    justify-content: space-evenly;
    align-items:}
    

.nav-bar{background-color: rgb(233,237,201);
border: 3px solid black;
border-radius: 10px;}

img { width: f;}